<div id="navbar">
  <div id="navbarMenu">
    <div id="navbarMenuIcon" (click)="createNavbarDropDownMenu()">
      <div class="navbarMenuIconLine"></div>
      <div class="navbarMenuIconLine"></div>
      <div class="navbarMenuIconLine"></div>
    </div>
    <div id="navbarLinks" [style.display]=displayMenu>
      <a routerLink="/the-team" routerLinkActive="active">The Team</a>
      <a routerLink="/articles" routerLinkActive="active">Articles</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
      <a href="#">Merchandise</a>
      <div id="navBarBaseLine"></div>
    </div>
  </div>
</div>