#navbar {
  float: right;
  font-size: 0;
  overflow: hidden;
  padding-left: 5px; /* Gives extra space to prevent baseline from being cutoff */
}

#navbarMenu {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

#navbarMenuIcon {
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ffffff;
  padding: .3rem;
  border-radius: 2px;
  border: 1px solid #000000;
}

#navbarMenuIcon:hover {
  background-color: #ffefb4;
}

.navbarMenuIconLine {
  width: 1rem;
  height: 2px;
  background-color: #000000;
  margin-bottom: 3px;
}

.navbarMenuIconLine:last-child {
  margin-bottom: 0;
}

#navbarLinks {
  position: absolute;
  top: 1.6rem;
  right: 0;
  display: none;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 3px;
}

#navbarLinks a {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000;
  font-family: Geneva, Arial, sans-serif;
  text-decoration: none;
  display: block;
  padding: 0.5rem 1.2rem;
  border-bottom: 1px solid #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navbarLinks a:last-of-type {
  border-bottom: 0;
}

#navbarLinks a:hover {
  background-color: #ffefb4;
}


@media only screen and (min-width: 768px) {

  #navbarMenu {
    position: static;
  }

  #navbarMenuIcon {
    display: none;
  }

  #navbarLinks {
    position: static;
    float: right;
    margin: 1rem 1rem 0 0;
    display: block;
    border: none;
    border-radius: 0;
  }

  #navbarLinks a {
    font-size: 0.9rem;
    font-weight: 700;
    border-right: 1px solid #000000;
    border-bottom: none;
    padding: 0 1em;
    display: inline;
  }

  #navbarLinks a:last-of-type {
    border-right: none;
    padding-right: 0;
  }

  #navBarBaseLine {
    width: 100%;
    height: 0.8rem;
    transform: skew(-20deg);
    background-color: #ffcb07;
    margin-top: 1rem;
  }

  

}

@media only screen and (min-width: 992px) {

  #navbarLinks {
    display: block;
  }

  #navbarLinks a {
    font-size: 1.1rem;
    font-weight: 700;
  }

  #navBarBaseLine {
    height: 1rem;
  }

}