<div id="navbar">
  <div id="navbarMenu">
    <div id="navbarMenuIcon" (click)="createNavbarDropDownMenu()">
      <div class="navbarMenuIconLine"></div>
      <div class="navbarMenuIconLine"></div>
      <div class="navbarMenuIconLine"></div>
    </div>
    <div id="navbarLinks" [style.display]=displayMenu>
      <a href="#theTeam">The Team</a>
      <a href="#articles">Articles</a>
      <a href="#contact">Contact</a>
      <a href="#">Merchandise</a>
      <div id="navBarBaseLine"></div>
    </div>
  </div>
</div>