.article {
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-bottom: 3px solid #ffcb07;
}

.articleTitle {
  margin: 0rem;
}

.author {
  color: #464646;
}

.articleAuthor {
  color: #464646;
  font-size: 0.95rem;
}

.articleDate {
  color: #464646;
  font-size: 0.9rem;
}

.articleContent {
  padding: 0.5rem 0;
}