<div id="siteIntro">
  <h1 id="siteIntroTagline">Family. Friends. Games.</h1>
</div>
<div id="siteIntroStatement">
  <p>ROC Games buys, sells and trades all tabletop games and accessories to help you build and beat the competition! We also sponsor competitive Pokemon players.</p>
</div>
<div id="siteIntroContentBlocks">
  <div routerLink="/team" class="siteIntroContentBlocksItem">
    <div class="siteIntroContentBlocksItemHeader">The Team</div><div class="siteIntroContentBlocksItemBody">Meet the ROC Games team members</div>
  </div>
  <div class="siteIntroContentBlocksItem">
    <div class="siteIntroContentBlocksItemHeader">Articles</div><div class="siteIntroContentBlocksItemBody">Stay up to date with ROC Games news</div>
  </div>
  <div class="siteIntroContentBlocksItem">
    <div class="siteIntroContentBlocksItemHeader">Contact</div><div class="siteIntroContentBlocksItemBody">Drop us a line or make an introduction</div>
  </div>
</div>
