.newContentSection {
  margin: 5rem 1rem 1rem 1rem;
}

.sectionTitle {
  border-bottom: 1px dotted gray;
  padding-left: 1rem;
  width: 50%;
  transform: skew(-20deg);
  background-color: #ffcb07;
  margin-top: 1rem;
  margin-left: 1rem;
}