<section id="theTeam" class="newContentSection">
  <h2 class="sectionTitle">The Team</h2>
  <div class="playersCard">
    <div class="players">
      <div class="playerProfilePicture">
        <img class="playerProfilePicture" src="../../../../assets/images/temp/blazin.jpg" alt="Player Profile Picture">
      </div>
      <div class="playerData">
        <div class="playerProfileContent">
          <div class="playerContentLabel">Player: </div>
          <div class="playerContentData">Bob "Guns-a-Blazin" Jones</div>
        </div>
        <div class="playerProfileContent">
          <div class="playerContentLabel">Achievements: </div>
          <div class="playerContentData">Holds the East Coast record for rat tails collected with one wing tied behind his back.</div>
        </div>
        <div class="playerProfileContent">
          <div class="playerContentLabel">Bio: </div>
          <div class="playerContentData">"You see this hair baby.....that's all I've got to say"</div>
        </div>
      </div>
    </div>
  </div>
</section>