.newContentSection {
  padding: 0.5rem;
}

.sectionTitle {
  border-bottom: 1px dotted gray;
  padding-left: 1rem;
  width: 50%;
  transform: skew(-20deg);
  background-color: #ffcb07;
  margin-top: 1rem;
  margin-left: 1rem;
}

#contactInfo {
  margin: 2rem 2rem 3rem 2rem;
  font-size: 1.3rem;
}

#contactInfo span {
  display: block;
}



#contact ul {
  padding: 0;
  list-style-type: none;
}

#twitterContact {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#twitterContactList {
}

.twitterContactListItems {
  width: 60%;
  min-width: 350px;
  background-color: #ffcb07;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0 1rem 1rem 0;
  box-shadow: 0.2rem 0.2rem 0.2rem gray;
}

.twitterContactListItems a {
  text-decoration: none;
  color: #20a199;
  text-shadow: 0.03rem 0.03rem 0.03rem #000000;
}


@media only screen and (min-width: 992px) {

  #contact {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}
