<section id="contact" class="newContentSection">
  <h2 class="sectionTitle">Contact Us</h2>

  <address id="contactInfo">
    <span>ROC Games LLC</span>
    <span>585-478-5549</span>
    <span><a href="mailto:rocgamesllc@gmail.com">rocgamesllc@gmail.com</a></span>
  </address>

  <app-contact-form></app-contact-form>

  <!-- TODO: Create twitter component -->

  <div id="twitterContact">
    <h3>Connect on Twitter</h3>
    <ul id="twitterContactList">
      <li class="twitterContactListItems">Bryan Hunter <a href="https://twitter.com/@Hunter2Sweet" target="_blank">@Hunter2Sweet</a></li>
      <li class="twitterContactListItems">Chris Siakala <a href="https://twitter.com/@SiakalaChris" target="_blank">@SiakalaChris</a></li>
      <li class="twitterContactListItems">Connor Finton <a href="https://twitter.com/@ConndorTCG" target="_blank">@ConndorTCG</a></li>
      <li class="twitterContactListItems">Rudy Wade <a href="https://twitter.com/@RudyWadeMusic" target="_blank">@RudyWadeMusic</a></li>
      <li class="twitterContactListItems">Brady Guy <a href="https://twitter.com/@pokebrady315" target="_blank">@pokebrady315</a></li>
    </ul>
  </div>
  
  
</section>